* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    color: #271756;
}

.no-padding {
    padding: 0;
}

#header {
    background-color: #271756;
    width: 100%;
    min-height: 88px;
    position: relative;
    display: flex;
}

.header-banner-text {
    margin-left: 8px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.logo p {
    text-transform: uppercase;
}

.logo p:nth-child(1) {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 4px!important;
    text-transform: uppercase;
}

.logo p:nth-child(2) {
    color: #facb01;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}

#nav-bar {
    font-size: 12px;
    color: #271756;
    padding: 5px 5px 0 5px;
    background-color: #fff;
    min-height: 28px;
    width: 400px;
    top: 0;
    right: 0px;
    position: absolute;
    font-weight: bold;
    border-bottom-left-radius: 75px;
}

#nav-bar a,
#nav-bar span {
    font-size: 12px;
    color: #271756;
}

#menu {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    line-height: 46px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

#menu ul li {
    list-style-type: none;
    padding: 5px 20px;
}

#menu ul li:hover {
    background-color: #fff;
}

#menu ul li a {
    padding: 15px 16px;
    color: #271756;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: .16px;
    text-align: left;
    cursor: pointer;
    user-select: none;
}

#content {
    margin-top: 56px;
}

#content .sidebar {
    background-color: #271756;
    height: 1500px;
    list-style-type: none;
    padding: 0;
}

.sidebar-brand {
    background-color: #271756;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    display: none;
}

.sidebar-brand p {
    text-transform: uppercase;
}

.sidebar-brand p:nth-child(1) {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 4px!important;
    text-transform: uppercase;
}

.sidebar-brand p:nth-child(2) {
    color: #facb01;
    font-size: 12px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
}

#content .sidebar li {
    padding: 12px 16px;
    /*  border-bottom: 1px solid #ccc;
    background-color: #56a4fe; */
}

#content .sidebar li:hover a {
    color: #fff;
    text-decoration: none;
}

#content .sidebar li a {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: .16px;
    text-align: left;
    color: #facb01;
    border-left: 4px solid transparent;
    opacity: 1;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Modal*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu đen với độ trong suốt 50% */
    z-index: 11;
    /* Đảm bảo lớp phủ mờ được hiển thị trên modal */
    display: none;
    /* Ẩn ban đầu */
}

.modal-content {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    height: 94%;
    padding: 40px;
    overflow-x: hidden;
}

.modal {
    display: flex !important;
    justify-content: center;
    height: 1000px;
}


/*Page Number*/

.pagination a {
    color: #271756 !important;
}

.pagination>li>a {
    float: none;
    margin-right: -4px;
}


/*Required*/

.required-asterisk {
    color: red;
    margin-left: 7px;
    display: flex;
    align-items: center;
    font-size: 18px;
    /* hoặc bất kỳ giá trị nào khác bạn muốn */
}

.required {
    display: flex;
}

.modal-content button.btn:hover {
    background-color: red;
    color: #fff
}

.table>tbody>tr>td {
    vertical-align: middle !important;
}


/*Button*/

.mr-1 {
    margin-right: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem;
}

.group-btn {
    display: flex;
    justify-content: end;
    margin: 0 -15px;
}


/*Function*/

.function {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
}

.bars {
    display: none;
}


/*Sidebar*/

.sidebar {
    background-color: #271756;
}

#side {
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    padding-right: 0;
}

#studentForm textarea,
#studentForm select,
#studentForm input {}

.btn-primary {
    color: #fff;
    background-color: #271756;
    border-color: #271756;
}

.modal-content {
    position: relative;
    padding-top: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    opacity: 1;
}

.modal-body {
    padding: 20px;
    font-size: 20px;
}


/* Định dạng cho từng dòng thông tin */

.modal-body p {
    margin-bottom: 16px;
    line-height: 1.5;
    border-bottom: 1px dashed;
    /* Để giữ cho các dòng thông tin cách nhau một khoảng lý tưởng */
}


/* Định dạng cho những mục tiêu đề mạnh mẽ */

.modal-body strong {
    font-weight: bold;
    margin-right: 5px;
}


/* Định dạng cho nội dung thông tin */

.modal-body span {
    font-style: italic;
}

.editBtn,
.deleteBtn,
.detailBtn {
    min-width: 96px;
}

#studentList {
    opacity: 1;
    /* Đặt opacity mặc định là 1 */
    transition: opacity 0.5s ease;
}

#studentList.hide {
    opacity: 0;
    /* Khi có lớp 'hide', opacity sẽ chuyển từ 1 thành 0 */
}

.flex .form-check {
    margin-left: 8px;
}


/*Reponsive*/

@media only screen and (max-width:577px) {
    .group-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .search {
        display: flex;
        flex-direction: column;
    }
    .mr-b-xs-1 {
        margin-bottom: 1rem;
    }
    .modal-content {
        height: 600px !important;
    }
    .logo {
        margin-top: 24px;
    }
    td.option {
        padding: 0 !important;
        margin: 10px 0px 10px 20px;
        text-align: center;
    }
}

span.input-group-btn {
    display: none;
}

@media only screen and (max-width: 1632px) {
    .editBtn,
    .deleteBtn,
    .detailBtn {
        margin-top: 8px;
    }
}

@media only screen and (max-width:991px) {
    .close,
    #close-modal-detail {
        display: none;
    }
    span.input-group-btn {
        display: block !important;
    }
    .menu-mobile {
        display: block !important;
    }
    .sidebar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #table-ttsv tbody,
    #table-ttsv tr,
    #table-ttsv td {
        display: block;
    }
    #table-ttsv thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #table-ttsv td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }
    #table-ttsv td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #table-ttsv tr {
        border-bottom: 1px solid #ccc;
    }
    .mobile-checkbox {
        position: absolute;
        top: 2px;
        left: 6px;
        z-index: 10;
    }
    .flex-direction-column-xs {
        display: flex;
        flex-direction: column;
    }
    .no-margin-xs {
        margin: 0;
    }
    .no-padding-xs {
        padding: 0 8px !important;
    }
    .bars {
        display: block;
        position: absolute;
        color: #fff;
        right: 2px;
        top: 31px;
        font-size: 38px;
    }
    .flex {
        display: inline;
    }
    #menu ul {
        display: none;
    }
    #content {
        margin-top: 0;
    }
    #ttsv h1 {
        font-size: 24px;
    }
    #nav-bar {
        width: 319px;
    }
    .input-xs {
        height: 44px !important;
    }
    .pd-xs {
        padding: 11px;
    }
    .modal-content {
        height: 800px;
        overflow-y: scroll;
        padding: 24px;
        position: relative;
        padding-top: 0;
    }
    .modal-content h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .modal-content .close {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 30px;
    }
    #content #side {
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: #271756;
        z-index: 1000;
        padding: 0;
        transform: translateX(-100%);
        min-width: 320px;
        will-change: transform;
    }
    #side.open {
        animation: slideIn 0.3s ease forwards;
    }
    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    /* Đặt kiểu dáng cho các thành phần tại điểm phá vỡ SM */
    .modal-content {
        height: 800px;
    }
    .bars {
        right: 8px;
    }
}


/* Thiết lập kiểu dáng cho các thiết bị từ 769px đến 992px (MD) */

@media (min-width: 769px) and (max-width: 992px) {
    /* Đặt kiểu dáng cho các thành phần tại điểm phá vỡ MD */
    .modal-content {
        height: 800px;
    }
}


/* Thiết lập kiểu dáng cho các thiết bị từ 993px đến 1200px (LG) */

@media (min-width: 993px) and (max-width: 1200px) {
    /* Đặt kiểu dáng cho các thành phần tại điểm phá vỡ LG */
    .modal-content {
        height: 80%;
    }
}


/* Thiết lập kiểu dáng cho các thiết bị lớn hơn 1200px (XL) */

@media (min-width: 1201px) {
    /* Đặt kiểu dáng cho các thành phần tại điểm phá vỡ XL */
}

#toast {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#ui-id-1 {
    position: fixed;
    max-height: 200px;
    overflow-y: scroll;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    height: 50px;
    position: relative;
    background-color: #271756;
}

.nav a {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 25%;
    border-left: 5px solid transparent;
    letter-spacing: 1px;
    transition: all 0.3s linear;
}

.nav .text {
    transition: all .4s linear;
}

.nav li:hover .text {
    margin-left: 20px
}

.nav .active a {
    color: #facb01;
    border-left: 5px solid #9b59b6;
    background-color: #1B1B1B;
    outline: 0;
}

.nav li:not(.active):hover a {
    color: #eee;
    border-left: 5px solid #FCFCFC;
    background-color: #1B1B1B;
}

.nav span[class ^="icon"] {
    position: absolute;
    left: 20px;
    font-size: 1.5em;
    transition: all 0.3s linear;
}

@media only screen and (max-width: 860px) {
    /*  .nav .text {
        display: none;
    }
    .nav-container,
    .nav a {
        width: 70px;
    }
    .nav a:hover {
        width: 200px;
        z-index: 1;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid black;
        box-shadow: 0 0 1px 1px black;
    }
    .nav a:hover .text {
        display: block;
        padding-left: 30%;
    } */
}

@media only screen and (max-width: 480px) {
    .nav-container,
    a {
        width: 50px;
    }
    .nav span[class ^="icon"] {
        left: 8px;
    }
}